
@model Inview.Epi.EpiFund.Domain.ViewModel.InsuranceCompanyUserViewModel
@{
    ViewBag.Title = "Create Insurance Company";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Create Insurance Company User</h3>
@using (Html.BeginForm("CreateInsuranceCompanyUser", "Insurance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    <i>Note: If you are adding multiple users for one company, the latest user marked active will deactivate the current active user. There can only be one active user at a time.</i>
    @Html.EditorForModel()

    <a  type ="submit" style="margin-bottom:5px;" class="btn btn-warning" href="@Url.Action("ManageInsuranceCompanies", "Insurance")" title="Cancel">Cancel</a>
    <input type="submit" class="btn btn-primary create-user-save" id="btnSave" name="btnSave" value="Save Insurance User" />
}