@model Inview.Epi.EpiFund.Domain.ViewModel.InsuranceCompanyViewModel
@{
    ViewBag.Title = "Create Insurance Company";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Create Insurance Company</h3>
@using (Html.BeginForm("CreateInsuranceCompany", "Insurance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    @Html.EditorForModel()

    <a  type ="submit" style="margin-bottom:5px;" class="btn btn-warning" href="@Url.Action("ManageInsuranceCompanies", "Admin")" title="Cancel">Cancel</a>
    <input type="submit" class="btn btn-primary create-user-save" id="btnSave" name="btnSave" value="Save Insurance Company" />
}