@model Inview.Epi.EpiFund.Domain.ViewModel.InsuranceUSCViewModel
@{
    ViewBag.Title = "My USC Page";
    Layout = "~/Views/Shared/_LayoutInsuranceUser.cshtml";
}
<h3>Hello @Model.FullName!</h3>

<p>Welcome to your personalized US CRE online.com web page relating to the <b>@Model.CompanyName</b>'s records. You can edit your profile and go through the features of the website available for you.</p>