
@model Inview.Epi.EpiFund.Domain.ViewModel.InsuranceCompanyUserViewModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_LayoutInsuranceUser.cshtml";
}

<h3>Edit Insurance Company User</h3>
@using (Html.BeginForm("UpdateUser", "Insurance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    @Html.EditorForModel("UserViewInsuranceSide")
    <a  type ="submit" style="margin-bottom:5px;" class="btn btn-warning" href="@Url.Action("MyUSCPage", "Insurance")" title="Cancel">Cancel</a>
    <input type="submit" class="btn btn-primary create-user-save" id="btnSave" name="btnSave" value="Update User" />
}