<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- OLD<add name="EPIRepository" connectionString="Data Source=127.0.0.1;Initial Catalog=EPIFundDev;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />-->
    <!--<add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFundStaging;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />-->
    <add name="EPIRepository" connectionString="Data Source=BRICKRED54;Initial Catalog=uscreonline;Trusted_Connection=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SystemAdminUser" value="SystemAdmin" />
    <add key="SystemAdminPassword" value="epiSysAdmin!" />
    <add key="ReliantAdminUser" value="ReliantAdmin" />
    <add key="ReliantAdminPassword" value="7163Bareef!" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="docusignEndpoint" value="https://demo.docusign.net/restapi/v2/login_information" />
    <add key="docusignEmail" value="elizabeth.trambulo@inviewlabs.com" />
    <add key="docusignPassword" value="7163bareef" />
    <add key="integratorKey" value="INVI-c3501a77-8f68-489b-8a9c-557a3a3ef5b8" />
	  
    <!--<add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFundStaging\Documents\"/>
    <add key="ErrorLog" value="D:\\Web\\uscreonline.com\\Site\\Logs\\ErrorLog.txt"/>
    <add key="DataRoot" value="\\nap7-fs1\Application Data\EpiFundStaging\"/>
    <add key="EmailTemplatePath" value="\\n7app01\c$\Data\EPIFundStaging\Email Templates\"/>-->

	  <add key="pdfDirectory" value="D:\EPIFund\uscre-master\uscre-master\Documents\" />
	  <add key="ErrorLog" value="D:\EPIFund\uscre-master\uscre-master\Logs\ErrorLog.txt" />
	  <add key="DataRoot" value="D:\EPIFund\uscre-master\uscre-master\Documents" />
	  <add key="EmailTemplatePath" value="D:\EPIFund\uscre-master\uscre-master\Documents\Emails\" />
	  
    <add key="AdminEmail" value="admin@epifund.com" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="elizabeth.trambulo@inviewlabs.com" />
    <add key="elmah.mvc.route" value="elmah" />
	  
    <!--<add key="ABCPdfLicense" value="719-253-057-515-4746-613" />-->
	<add key="ABCPdfLicense" value="cd9b5c07db69df2bf57c0a04d9bca58b10c44889c9fb197984e592f49addfce5ec5fe85d7b9205bc"/>
	  
    <add key="EPIFundFederalID" value="20-3825528" />
    <add key="EpiFundName" value="Executive Private Investment Funding Co., LLC" />
    <add key="EpiFundAddress" value="3870 E. Flamingo Road, Suite A2-148 Las Vegas, NV 89121" />
    <add key="EpiFundCityStateZip" value="Las Vegas, NV  89121" />
    <add key="EpiFundContactNumber" value="702-883-1927" />
    <add key="AssetLockTime" value="59" />
    <add key="enableAutoEmailsAdmin" value="false" />
    <add key="enableAutoEmailsAsset" value="false" />
    <add key="enableAutoEmailsGeneral" value="false" />
    <add key="enableAutoEmailsInsurance" value="false" />
    <add key="enableAutoEmailsTitle" value="false" />
    <add key="CorpAdminEmails" value="ken@epifund.com" />
    <!--Mandrill-->
    <add key="MandrillApiKey" value="i6ayTcycFHnId1Jvp7E6UA" />
    <!--SMTP (Mailtrap)-->
    <add key="SmtpHost" value="smtp.mailtrap.io" />
    <add key="SmtpUsername" value="c5b832c38aea50" />
    <add key="SmtpPassword" value="40d0c623b81dca" />
    <!--SMTP (epifund)-->
    <!--<add key="SmtpHost" value="mail.epifund.com"/>
    <add key="SmtpUsername" value="uscre@epifund.com"/>
    <add key="SmtpPassword" value="{l=4q=g?-O"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="120" />
    <httpRuntime targetFramework="4.5" executionTimeout="7200" maxRequestLength="157286400" requestLengthDiskThreshold="8192" />
    <compilation debug="true" targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/" slidingExpiration="true" timeout="120" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MVCVideo" />
      </namespaces>
    </pages>
    <membership defaultProvider="myProvider">
      <providers>
        <clear />
        <add name="myProvider" type="Inview.Epi.EpiFund.Web.Providers.NinjectMembershipProvider" providerId="epiMembership" />
      </providers>
    </membership>
    <roleManager defaultProvider="ninjectRoles" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="ninjectRoles" type="Inview.Epi.EpiFund.Web.Providers.NinjectRoleProvider" providerId="epiRoles" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967290" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="\\nap7-fs1\application data\EpiFund\ErrorLogs" />
  </elmah>
</configuration>