@model Inview.Epi.EpiFund.Web.Models.AssetAssignmentModel
@{
    ViewBag.Title = "Assignment Page";
    if (Model.ControllingUserType == Inview.Epi.EpiFund.Domain.Enum.UserType.TitleCompUser || Model.ControllingUserType == Inview.Epi.EpiFund.Domain.Enum.UserType.TitleCompManager)
    {
        Layout = "~/Views/Shared/_LayoutTitleUser.cshtml";
    }
    if (Model.ControllingUserType == Inview.Epi.EpiFund.Domain.Enum.UserType.CorpAdmin || Model.ControllingUserType == Inview.Epi.EpiFund.Domain.Enum.UserType.ICAdmin || Model.ControllingUserType == Inview.Epi.EpiFund.Domain.Enum.UserType.SiteAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<div id="homeDiv">

    <h3>Hello Manager,</h3>

    <p>Please assign the asset files to desired Title company users </p>

    <br />
    @{ Html.RenderPartial("_AssignAssetsListView", Model.TitleAssignments); }
    <br />
</div>


<script>
    $(window).bind("load", function () {
        if ("@TempData["rejected"]") {
            if ("@TempData["rejected"]" == "true") {
                $('#rejectedICAdminModal').modal('show');
            }
        }
    });
</script>
