@model AssetViewModel

@using Inview.Epi.EpiFund.Domain.Helpers
@using Inview.Epi.EpiFund.Domain.Entity
@using Inview.Epi.EpiFund.Domain.ViewModel
@{    
    ViewBag.Title = "Complete Asset";
    Layout = "~/Views/Shared/_LayoutTitleUser.cshtml";
}
<h2>Complete Asset: @Model.PropertyAddress</h2>

@using (Html.BeginForm("CompleteAsset", "admin", FormMethod.Post, new { id = "assetCform" }))
{
    @Html.ValidationSummary()
    <br />
    @Html.EditorFor(model => model, "AssetCompletingTemplate")
    <label id="saveDate"></label>    
}