@model Inview.Epi.EpiFund.Domain.ViewModel.TitleCompanyModel
@{
    ViewBag.Title = "Create Title Company";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Create Title Company</h3>
@using (Html.BeginForm("CreateTitleCompany", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    @Html.EditorForModel()

    <a  type ="submit" style="margin-bottom:5px;" class="btn btn-warning" href="@Url.Action("ManageTitleCompanies", "Admin")" title="Cancel">Cancel</a>
    <input type="submit" class="btn btn-primary create-user-save" id="btnSave" name="btnSave" value="Save Title Company" />
    
    
}