@model Inview.Epi.EpiFund.Domain.ViewModel.PrincipalInvestorQuickViewModel
@{
    ViewBag.Title = "Create Principal Investor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create Principal Investor</h2>
@using (Html.BeginForm("CreatePrincipalInvestor", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    @Html.EditorForModel()

    <input type="submit" class="btn btn-primary" id="btnSave" name="btnSave" value="Save Principal Investor" /> 
}