@model List<Inview.Epi.EpiFund.Domain.ViewModel.HoldingCompanyViewModel>
@{
    ViewBag.Title = "Manage Holding Companies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @section JqueryDataTableCss {
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/r-2.2.2/datatables.min.css" />
    }
    @section JqueryDataTableJs {
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/r-2.2.2/datatables.min.js"></script>
    }
}
<style>
</style>

<h2 style="text-align:center;padding-bottom:100px;">Manage Holding Companies</h2>

<table id="holdingCompanyTable" class="table table-bordered table-striped" style="width: 100%; font-size: 10px !important;">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Operating<br />Company</th>
            <th>PI Name</th>
            <th>City</th>
            <th>ST</th>
            <th>Email</th>
            <th>Pone</th>
            <th># of<br />Assets</th>
            <th># of Pub<br />Assets</th>
            <th></th>
        </tr>
    </thead>
</table>
<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {
        datatable = $('#holdingCompanyTable')
            .DataTable({
                "sAjaxSource": "/Admin/ManageHoldingCompanyNew",
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "ordering": false,
                "pageLength": 50,
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                "columns": [
                    {
                        "data": "CompanyName",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "OperatingComapnyName",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "PIName",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "City",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "State",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "Email",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "WorkNumber",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "AssetsCount",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "AssetsPublishedCount",
                        "autoWidth": true,
                        "searchable": true
                    },                    
                    {
                        sortable: false,
                        "render": function (data, type, full, meta) {
                            var buttonURL = "/Admin/UpdateHoldingCompany/" + full.HoldingCompanyId;
                            return '<a href=' + buttonURL +' target="_blank" class="glyphicon glyphicon-pencil"></a>';
                        }
                    }
                ]
            });

        $('#holdingCompanyTable tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            window.location.href = `/Admin/UpdateHoldingCompany/${data.id}`;
        })
    }
</script>  