@model Inview.Epi.EpiFund.Domain.ViewModel.PrincipalInvestorQuickViewModel
@{
    ViewBag.Title = "Update Principal Investor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Principal Investor</h2>
@using (Html.BeginForm("UpdatePrincipalInvestor", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    @Html.EditorForModel()

    <input type="submit" class="btn btn-primary" id="btnSave" name="btnSave" value="Save Principal Investor" /> 
}