<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--PRODUCTION-->
    <add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFundDev;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />
    <!--DEVELOPMENT-->
    <!--<add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFundDev;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--CURRENTLY RESIDING ON IVL-Web01-->
    <add key="TimerInterval" value="300000" />
    <!--PRODUCTION-->
    <add key="ffmpegPath" value="C:\ffmpeg.exe" />
    <add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFundDev\" />
    <add key="VideoPath" value="\\NAP7-FS1\Application Data\EpiFundDev\Videos\" />
    <!--DEVELOPMENT-->
    <!--<add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFundDev\Documents\" />
    <add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFundDev\" />
    <add key="EmailTemplatePath" value="\\n7app01\c$\Data\EPIFundDev\Email Templates\" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="USCREonline &lt;uscre@inviewlabs.com&gt;">
        <network enableSsl="false" host="ivl-exch1.inviewlabs.loc" port="25" userName="uscre@inviewlabs.loc" password="XWlwQcK1x6su7uPWuQGT" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="System.Web.WebPages.Razor.RazorBuildProvider, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </buildProviders>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>