<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFundDev;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="docusignEmail" value="skyler.hamilton@inviewlabs.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="docusignPassword" value="7163Bareef!" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="integratorKey" value="INVI-23e5e8d8-0642-45f2-a5fa-094556b3ecd4" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFundDev\Documents\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFundDev\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="\\n7app01\c$\Services\EPIFundDev\DocusignService\Views\Emails\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>