<p>Account Settings:</p>
<ul class="ul-styled">
    <li>@Html.ActionLink("Change your account details", "EditProfile", "Home")</li>
    <li>@Html.ActionLink("Change your account password", "ChangePassword", "Home")</li>
</ul>
