@model PortfolioViewModel

@using Inview.Epi.EpiFund.Domain.Helpers
@using Inview.Epi.EpiFund.Domain.Entity
@using Inview.Epi.EpiFund.Domain.ViewModel
@{
    ViewBag.Title = "Update Portfolio";
    Layout = ViewBag.Layout;  
}
<h2>Update Portfolio</h2>

@using (Html.BeginForm("UpdatePortfolio", "Portfolio", FormMethod.Post, new { id = "UpdatePortfolioform" }))
{
    @Html.ValidationSummary()
    <br />
    @Html.EditorFor(model => model, "PortfolioEditorTemplate")
    <br />
    <label id="saveDate"></label>
}