@{
    ViewBag.Title = "Docusign Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Thank you for submitting this document.</h4>
<p>Please wait for an email from Docusign to digitally sign this document. Once you have gone through the Docusign process, you will receive an email with your signed document. Please allow up to 5 minutes for our servers to receive your signed document.</p>
<p style="color: darkred; font-weight: bold;">When you have completed the DocuSign protocol, and have received the automated confirmation e mail from USC, you will return to USC at this page.  Simply click your [F5] Key at the top of your Keyboard to refresh the site.  This will automatically update your Account and give you immediate access to US CRE Online services and or participations you originally intended through this documentation protocol.  You can review your fully executed documentation list and on-sight activities and commnications at any time through your @Html.ActionLink("My USC Page", "MyUSCPage", "Home").  Thank you.</p>
