@model Inview.Epi.EpiFund.Domain.ViewModel.AssetSearchCriteriaModel
@{
    ViewBag.Title = "View Investment Asset Search Criteria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3 class="page-header">Investment Asset Search Criteria</h3>
@Html.DisplayForModel()


