@model Inview.Epi.EpiFund.Domain.Enum.BathroomCount

@using Inview.Epi.EpiFund.Domain.Helpers

<div class = "control-label">@Inview.Epi.EpiFund.Domain.Helpers.EnumHelper.GetEnumDescription(Model)</div>
