@model Inview.Epi.EpiFund.Domain.Enum.BedroomCount

@using Inview.Epi.EpiFund.Domain.Helpers

<div class = "control-label">@Inview.Epi.EpiFund.Domain.Helpers.EnumHelper.GetEnumDescription(Model)</div>
