<html>
<body>
<p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>

<p>Dear @Model.RecipientName:

As you have been prior notified, EPI Fund LLC is presently engaged with several vetted principals who have expressed interest in your Listings identified below:</p>

    <table>
        <tr><td>Asset #</td><td>Description</td><td>Status</td><td>Change Status Link</td></tr>
		@Model.AssetListingStatus
    </table>
    <p>

Please click on any link above to change the status of the listing.

In addition, please indicate where applicable if any of the vetted principals EPI has referred to you have advanced their interest in your listing.

Thank you for your timely reply to this request.  EPI will continue to formerly notify you of any additional interest in your listing from previously referred principals and or new vetted principals going forward.

The Professional Staff
EPI Fund, LLC


    </p>
</body>
</html>