<html>
<body>
<p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>

<p>Dear @Model.RecipientName,

US CRE Online.com Asset Status Report:

Asset ID # @Model.AssetId, @Model.AssetDescription has changed its status from @Model.OriginalStatus to @Model.NewStatus.

If you have/had a working interest in subject property, please update your file and joint venture participants accordingly.  We encourage you to communicate any continuing interest to the listing broker.  Listing Broker information is provided in the Asset file display at USCREonline.com.  Simply enter your log in data and the Asset ID # above in the View Asset box at the USCREonline.com home page. 

We hope that you will find the data provided at US CRE Online as a valuable tool for your commercial real estate ventures…creating viable, immediately available foundations for joint ventures between your debt and equity capital relationships.  

You may login in anytime at http://www.uscreonline.com to access all areas of the site now available to you and to view all authorized asset files. You will receive via e mail market status updates on each Asset ID as such information becomes available.  USC will e mail introduction brochures to you on new available assets as they are uploaded going forward.

Should you have any specific CRE Asset Criteria anywhere in the US, please follow these simple instructions to complete your applicable CRE data profile so that we may search our db and inquire within our network to identify matching assets: </p>

        <ol>
<li>Go to<a href="http://www.uscreonline.com">http://www.uscreonline.com</a> and log in.</li>
<li>Select the [INVESTOR] tab at the top of the page.</li>
<li>Click the tab at the bottom of the page that reads [Proceed to Asset Criteria Questionnaire].</li>
<li>Fill out the respective data fields in the Questionnaire as accurately as you can and click the [Submit] button.</li></ol>
<p>Thank you for being a valued Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.

The Professional Staff
US CRE Online, LLC

    </p>
</body>
</html>