@{
    ViewBag.Title = "Affiliations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="affiliations">
    <h4 style="text-align: center;">US CRE Online is proudly endorsed by the following Organizations</h4>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/chicagotitle.png);"></div>
                <a href="http://ctic.com/">Chicago Title Agency, Inc.</a>
            </div>
        </div>
    </div>

    <h4 style="text-align: center;">US CRE Online is proudly a Member of the Following Organizations</h4>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/dummyphoto.gif);"></div>
                <a href="">Real Estate Investment Group USA, Inc.</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/dummyphoto.gif);"></div>
                <a href="">National Association of Multi-Family Property Owners</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/mbaa.png);"></div>
                <a href="http://www.mbaa.org">Mortgage Bankers Association of America</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/naiop.png);"></div>
                <a href="http://www.naiop.org/">Commercial Real Estate Development Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/nareim.png);"></div>
                <a href="http://www.nareim.org/">National Association of Real Estate Investment Managers</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/nationalreia.jpg);"></div>
                <a href="http://www.nationalreia.com/">National Real Estate Investors Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/realestateroundtable.jpg);"></div>
                <a href="http://www.rer.org/">Real Estate Roundtable</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/ncreif_logo.jpg);"></div>
                <a href="http://www.ncreif.org/">National Council of Real Estate Investment Fiduciaries</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/nationalreia.jpg);"></div>
                <a href="http://www.mynationalreia.com/">Real Estate Investors Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/acrp.jpg);"></div>
                <a href="http://www.acrp.org/">Association of Commercial Real Estate Professionals</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/airea.jpg);"></div>
                <a href="http://www.airea.com/">Air Commercial Real Estate Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/aresnet.png);"></div>
                <a href="http://www.aresnet.org/">American Real Estate Society</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/ccim.jpg);"></div>
                <a href="http://www.ccim.com/">CCIM Institute</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/reit.png);"></div>
                <a href="http://www.reit.com/">National Association of Real Estate Investment Trusts</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/nmhc.png);"></div>
                <a href="http://www.nmhc.org/">National Multi Housing Council</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/naahq.jpg);"></div>
                <a href="http://www.naahq.org/">National Apartment Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/boma.png);"></div>
                <a href="http://www.boma.org/">Building Owners and Managers Association</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/irem.jpg);"></div>
                <a href="http://www.irem.org/">Institute of Real Estate Management</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/iscs.png);"></div>
                <a href="http://www.icsc.org/">International Council of Shopping Centers</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/realtor.png);"></div>
                <a href="http://www.realtor.org/">National Association of Realtors</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/sior.png);"></div>
                <a href="http://www.sior.com/">Society of Industrial and Office Realtors</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="img-container" style="background-image: url(../Content/images/dummyphoto.gif);"></div>
                <a href="">YOUR COMPANY NAME HERE</a>
            </div>
        </div>
    </div>
    <p>If you’re professional organization would like to welcome <b>US CRE Online</b> as a proud new Member and or would like to endorse <b>US CRE Online</b> to your marketing network please click the button below.  We look forward to reviewing the opportunity to become a part of your professional community.</p>
    <input type="button" class="btn btn-default proceed" value="Proceed to Affiliation Application Page" onclick="location.href='@Url.Action("AffiliationsApplication", "Home")    '" />
    <p>If you have any questions and or would like to communicate with a <b>US CRE Online</b> representative, please @Html.ActionLink("click here", "ContactUs", "Home") and make your selection from the drop down menu in @Html.ActionLink("[Contact Us]", "ContactUs", "Home")</p>
</div>