@model Inview.Epi.EpiFund.Domain.ViewModel.PaperResidentialAssetViewModel
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center; vertical-align: central">
    <h3>Create your “CRE Note” Asset Data File</h3>
</div>
<p>
    US CRE Online is a totally automated – <span style="color: red;">Principal to Principal Website</span> – that serves all Industry Participants of the United States Commercial Real Estate Community.  The sole task of US CRE Online is to maintain its technology 24/7/365… and to meet the site technology, data base, and automated informational marketing needs and requests of its participating Commercial Real Estate Community.
</p>
<p>
    To commence the creation of your online CRE Mortgage Note Data File with USC requires you to complete Section 1 of this page; which is the <b>Asset Owners Contact & Registration Information Section</b>.  Subsequent Section 1, you do not have to complete the Asset Information Sections before completing USC’s <b>“Creating your New CRE Mortgage Note File”</b> protocol.  If you need more time to gather key data you may simply save the Form and return to it through your “My USC Page”…[Manage Portfolio Assets] at any time.  In fact, it is expected of all USC CRE Asset Owner Registrants that you will regularly be updating your Asset Files as operating and demographic data changes during your ownership tenure.
</p>
<p>
    You may choose to simply @Html.ActionLink("Register", "Registration", "Home") at this time as an Asset Owner and commence “Creating your New CRE Mortgage Note File” for one of your CRE Note Holdings at a later time.  Registration at US CRE Online does not bear a recurring cost to its Users.  When you elect to commence with “Creating your New CRE Mortgage Note File”, you will be required to electronically execute our [Online Portal Engagement and Authorization Agreement].
</p>
<p>
    If you have any questions about the registration process please go to @Html.ActionLink("Contact Us", "ContactUs", "Home").  You may also e-mail customer service at <a href="mailto:info@uscreonline.com">admin@uscreonline.com</a> 24/7.
</p>
<ul>
    <li><span style="color: red; font-weight: bold;">What does US CRE Online charge for its site technology and automated informational marketing portal services? </span>
        <ul>
            <li>We charge a flat fee equal to one percent (1.0%) of each Assets Transfer Value whenever the Asset Owner transfers title of the Asset to a new user.  It does not matter when this occurs succeeding the commencement date of creating each new CRE Fee Simple File.
            </li>
            <li>Our services fee will generally be collected through normal escrow procedures at the time of closing.  The terms and conditions of our services are clearly provided in our [Online Portal Engagement and Authorization Agreement].
            </li>
        </ul>
    </li>
    <li><span style="color: red; font-weight: bold;">What are the benefits to an Asset Owner in utilizing the services provided by USC?</span>
        <ul>
            <li>Simple: <span style="color: blue;"><u>increased equity and liquidity in your CRE Holdings.</u></span>
            </li>
            <li>USC provides, for instant marketing, the largest single combined db of MBA Members, NAR Members, CRE Asset Holders, and PI’s on the Internet to its Registered Users…at the
                <click>
                of a button.  
            </li>
            <li>USC provides the most comprehensive, standardized CRE Mortgage Note Data Presentation (all CRE Asset Types) on the Internet… likened to a 24/7 Offering Memorandum… completely controlled, populated, and directed by each Assets Owner… that can be introduced to the Global CRE PI Community at any time so desired by you, and only you… the Asset Owner.
            </li>
            <li>Until mutual election by participating Principals for more direct correspondence, all communications and document sharing between principals with mutual interests through USC is engaged through highly secured intra-site e mails (likened to the technology of e Bay) to preserve the privacy of each Principal.  Now Asset Owners can, on their respective schedule, build a database of qualified mutual interest PI’s that may have a vesting interest in their respective Asset at some future date… all at the
                <click>
                of a button.  This eliminates extended Asset marketing time, and provides a platform for maximizing equities.  USC Registered Asset Owners will no longer have to rely on third parties to effect the liquidity of their holdings.
            </li>
        </ul>
    </li>
</ul>
<p>
    In order for US CRE Online to accept your CRE Mortgage Note Asset upload, we shall verify the following requisites:
</p>
<ul>
    <li>Our Registrant holds the Beneficial Interest in the subject Mortgage Note, and it is properly secured;
    </li>
    <li>If Corporately vested, our Registrant is the proper officer of said Entity to act on the Entity’s behalf;
    </li>
    <li>Subject Mortgage Instrument is held in the position defined by the Asset Holder, as would be demonstrated in a proper Title Report;
    </li>
</ul>
<p>
    <span style="color: red;">Note</span>: the e-mail address you provide must be valid, as your registration documentation, account approval confirmation, and your “My USC Page” introduction will be e-mailed to the e-mail address you provide.  At any time you may amend your selections through your “My USC Page” once logged in.  Thank you for your Registration.
</p>
<p style="text-align: center">
    [All data fields with a <span style="color: red;">RED</span> asterisk <span style="color: red;">*</span> must be completed to submit the file];
</p>
<div style="text-align: center; vertical-align: central; color:darkblue">
    <p style="color:darkblue;font-size: x-large"><b>Begin Your Commercial Property Note Data Storage File</b></p>
</div>
@*<p>
    Note Asset Questionnaire: Contact Information
</p>*@
@Html.EditorForModel()