@model Inview.Epi.EpiFund.Domain.ViewModel.ResetPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reset Password</h3>
@using (Html.BeginForm("ForgotPassword", "Home"))
{ 
    <p>Enter your username below and a new password will be emailed to you.</p>
    <div class="form-inline">
        @Html.TextBoxFor(s => s.Username)
        <button class="btn btn-default" type="submit">Reset Password</button>
    </div>
}