@{
    ViewBag.Title = "My USC Page";
}

<p>
    Welcome back to US CRE Online.  You are registered as an IC Admin applicant. 
    Our records indicate that you have not completed the application process by signing our standard IC Agreement.  
    If you wish to complete your application process for consideration as an IC Admin for US CRE Online LLC, please click @Html.ActionLink("here", "ExecuteICAgreement", "DataPortal") 
    to be taken to the Employment Opportunities page for USC.  
    You will be prompted to scroll down the page to the “Execute IC Agreement” button.  
    Once you have fully executed the USC standard Independent Contractor Agreement… which is completed on line through the nationally recognized DocuSign service… 
    and takes only minutes to complete… USC will receive your fully executed Agreement and commence its due diligence to determine if you would be a 
    good fit as an IC Admin for US CRE Online LLC.  Thank you.
</p>