@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-img"></div>
<h1 class="main-title">Thank you for visiting <strong>USCREonline.com</strong> </h1>
<p>USC is a unique, wholly automated portal for comprehensive, detailed commercial real estate data {fee simple vesting or securitized note vesting} for United States holdings (including Hawaii & Alaska)…. emphasizing...</p>
<h4 style="text-align: center; font-weight: bold;"><span class="glyphicon glyphicon-arrow-right"></span> PRINCIPAL to PRINCIPAL Relationships <span class="glyphicon glyphicon-arrow-left"></span> </h4>
<p>All CRE Asset Data Files displayed are on property confirmed as available for sale by either the principal owner and or a principal owner’s representative (unless the asset is specifically posted as pending).  All data presented on each CRE asset file is data made available directly by the assets title holder, direct representative, and or from public data.</p>
<div class="main-img-2"></div>
<p>USC provides an <b>[Identical Display Template] (“IDT”)</b> for all CRE Asset Data Views… providing adaptation for each CRE Asset Type (e.g., Multi-Family, Mobile Home Parks, Retail, Office, Medical, Industrial, Hotel/Motel, Mixed Use, etc.).  The USC <b>[IDT]</b> includes real time, auto-adjustable comprehensive pre-tax <b>Investment Analysis Indicators</b> for all CRE Asset Views (e.g., CAP Rate Indicators, Deferred Maintenance CAP Rate Indicators, Performance Adjustment Indicators, Leveraged Cash Flow Indicators, and Adjustable Purchase Money Comparative Analysis Indicators).  Utilizing the USC <b>[IDT]</b>… Principals and Professionals from the Global CRE Community can…</p>
<h4 style="text-align: center; font-weight: bold;">Comprehensively review detailed US CRE Inventory… in SECONDS</h4>
<p>Principals and Members of the Professional Community can <u>upload</u> an unlimited quantity of their CRE <b>“Portfolio”</b> at NO COST… even if you are not yet ready to liquidate/market the interests in/of any one or more of such holdings: simply by clicking @Html.ActionLink("Create New CRE Asset File", "EpiFundBuysRealEstate", "Home") from the USC top Menu Bar or Directory.  When you are ultimately prepared to liquidate/market, you simply <b>(1)</b> select which of your holdings you wish to <u>Publish</u>, and (2) select if you wish to liquidate said holdings individually or as a <b>“Portfolio”</b> package.  At USC, “Portfolio” packages provide our Principal Investor and/or Professional Community db with <b>Asset Views</b> of <b>(A)</b> each individual CRE Asset, and <b>(B)</b> a Portfolio Summary of the cumulative CRE Asset Package… and it’s completely automated!</p>
<p>Within seconds after a CRE Asset or Portfolio is published, the entire USC global db of CRE principals and professionals are notified of such posting… and done so in prioritized order based on each USC Registrant’s interest specifics.  The USC mission statement for the entire CRE Principal and Professional Community is simple:</p>
<h4 style="text-align: center; font-weight: bold;">Increase Liquidity and Equity in your CRE Portfolio…with one click</h4>
<p>
    For <b>Accredited Principal Investors</b>: if you have received an invitation from USC to view a specific CRE Asset, you will need to first register at USC to have access to the subject asset as well as our full inventory of US CRE Asset Views.  The registration process includes and requires automated execution of our <b>Non-Compete Non-Disclosure Confidentiality Agreement</b> (“@Html.ActionLink("NCND", "DownloadNCNDTemplate", "DataPortal")”).  USC is not an e commerce site: there is NO COST to register at USC…ever!  Review of any of the USC Inventory of <u>Published</u> CRE Assets to its Registered Users only requires the one time automated execution of its <b>Internet Portal Agreement</b> (“@Html.ActionLink("IPA", "DownloadIPABuyerTemplate", "DataPortal")”).  After reviewing a qualified Asset Profile at USC, should you require any further data on said Asset, and or should you wish to arrange for on-site viewing of the Property, we strongly recommend that you communicate directly with the respective Assets Principal or Representative (as applicable/defined).  You will have opportunity to submit qualified Binding Letters of Intent to Purchase Agreements (“LOI”) through the Asset View pages of USC… a process that can be completed in minutes!
</p>
<p>Thank you again for visiting uscreonline.com.</p>

@*<p class="blurb">
    USC is a unique portal for comprehensive, detailed commercial real estate asset data (fee simple vesting or securitized note vesting)
    for United States holdings. 
</p> 
<p>
    All asset files displayed are on property confirmed as available for sale (unless specifically posted as pending or sold). All data
    presented on each asset file is data made available by the assets title holder, direct representative, and or public data. 
    USC effectively underwrites each file
    based on the available data, providing disclosure as to which key data points were not available during its due diligence. USC compiles the data into a comprehensive
    display format that includes automated pre-tax investment return calculations. The key value in the USC presentation is in its timely presentation of such critical inventory to
    prospective end users that you otherwise may never have had opportunity to pursue. It is the responsibility of all principals to ultimately analyze any asset based
    on your own due diligence.
</p>
<p>
    If you have received an invitation from USC to view a specific property, you will need to first 
    @Html.ActionLink("register", "Registration", "Home")
    at USC to have access to the subject asset and the entire
    USC data base of assets. The registration process includes and requires automated execution of our <b>Non-Compete Non Disclosure Confidentiality Agreement</b>
     (“@Html.ActionLink("NCND", "DownloadNCNDTemplate", "DataPortal")”). Review of any of USC’s Inventory of CRE Asset Data to its Registered Users thereafter only requires automated
     execution of its <b>Margin Disclosure Agreement</b> (“@Html.ActionLink("MDA", "DownloadMDATemplate", "DataPortal")”). USC is not an e commerce site. After reviewing a qualified
     Asset Profile at USC, should you require any further data on said Asset, and or should you wish to arrange for on-site viewing of the Property, 
    we encourage all USC accredited Registered Principal Investors to directly contact the respective Assets Representative. 
    You will have opportunity to submit qualified Binding Letters of Intent to Purchase Agreements through the Asset View pages of USC… a process that can be completed in minutes.
    You may also express such interest directly with Asset Ownership, their Brokerage Representative, and or their Legal Counsel… all as may be applicable.
    If at any time you wish to engage in vesting negotiations on a particular asset simply give USC a call or 
    <a href="mailto:admin@uscreonline.com">email</a> your interests and we will arrange for you to have direct access with the vested principal, their Agent, and or their legal counsel.
</p>
<p>
    Thank you again for visiting uscreonline.com.
</p>*@
<p style="text-align: center">
    <input type="button" id="proceed1" class="btn btn-default proceed" value="View Sample Asset" onclick="location.href='@Url.Action("ViewSampleAsset", "DataPortal", new { id = "B46AE22D-CA3A-44E4-88BB-33EDCC63B68D" })    '" />
</p>
<p style="text-align: center">
    Do you have an Asset ID? Click here to login.
    <input type="button" id="proceed1" class="btn btn-default proceed" value="LOG IN" onclick="location.href='@Url.Action("Login", "Home")    '" />
</p>

<div class="modal fade" id="siteauth" role="dialog" data-keyboard="false" style="top:10%;" data-backdrop="static">
    @*<div class="modal fade" id="siteauth" role="dialog" data-backdrop="false" data-keyboard="false" style="top:10%;">*@
        <div class="modal-dialog" style="padding:10%;text-align:center;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Site Access</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="input-group">
                            <div class="controls">
                                <div>
                                    &nbsp;<label class="control-label" for="Username">User Name</label>
                                    &nbsp;<input name="Username" type="text" value="">
                                    <br />
                                    &nbsp;<label class="control-label" for="Password">Password&nbsp;</label>
                                    &nbsp;&nbsp;<input name="Password" type="password" value="">


                                    <div style="height:30px;">
                                        &nbsp;
                                        <span style="color:red;display:none;" id="errmsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="text-align:center;">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    <input type="button" class="btn btn-info" value="Log In" onclick="validauth();">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/home/ValidateSiteAuth", success: function (result) {
                    if (result != "True") $("#siteauth").modal();
                }
            });
        })
        validauth = function () {
            var u = $('input[name=Username]').val();
            var p = $('input[name=Password]').val();

            $('#errmsg').val('');
            $.ajax({
                url: "/home/AuthSubmit",
                data: { 'Username': u, 'Password': p },
                success: function (result) {
                    if (result == "True") {
                        $("#siteauth").modal("hide");
                        
                    } else {
                        $('#errmsg').html('<br/>&nbsp;Invalid UserName or Password');
                        $('input[name=Username]').val('');
                        $('input[name=Password]').val('');

                        $('input[name=Username]').focus();
                        var refreshIntervalId = setInterval(function () { $('#errmsg').fadeToggle(); }, 300);
                        setTimeout(function () {
                            clearInterval(refreshIntervalId);
                            $('#errmsg').html('')
                        }, 3000)

                        ;

                    }
                }
            });
        }
    </script>


