@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-img"></div>
<h3 style="text-align-center">PRIVACY STATEMENT</h3>

<p><a href="/">US CRE Online LLC</a> is strictly committed to protecting the privacy of all of its visitors and registrants. We recognize that conducting business on-line can raise certain concerns about the security of your information. Because we gather certain types of information about the users on our site, we feel you should fully understand the terms and conditions surrounding our acceptance and use of that information. This privacy statement discloses what information we gather, how we use it, and how you can correct or update that information.</p>

<p><b>What information is collected from me?</b></p>

<p>The kinds of information we collect from you will vary, depending on how you use our Website. It's possible to browse our site without submitting any personally identifiable information ("personal information"), but if you choose to take advantage of some of our services, you may be asked to provide information such as a user name and password, your real name, email address, all contact phone numbers, address, or for certain financial services, your Social Security or Corporate Tax Identification number. Whenever, we ask for this kind of information, we'll try to provide a link to this Privacy Statement to help you understand how your personal information will be used before you decide whether to disclose it.</p>

<p>In addition to the information you choose to submit, our system is set up to gather certain anonymous data to help us better understand how our site is being used and how we can improve it. This automatically gathered data includes your computer's IP or "Internet Protocol" address, statistics about how visitors navigate through our site, and information provided through the use of "cookies" (which are described in more detail below).</p>

<p>Third parties are used for products and services directly involved or partnered with uscreonline.com in order to provide you with a more complete service.</p>

<p><b>How is my information used?</b></p>

<p>The use of your information depends on the context in which it is collected. Therefore, pay special attention to the categories below that relate to the features of our site that you wish to utilize. Also, be aware that uscreonline.com may at times be legally compelled to disclose certain information, by means such as subpoenas or court orders.</p>

<p><b>Cookies:</b> These are small files that we send to and store on your computer so that we may recognize it as a unique machine the next time you visit our site.</p>

<p><b>Registration:</b> The information you provide when you become a registered user of our site is used primarily to help us customize your online experience. This information will not be shared. Your email address serves as a unique identifier in our record system, and it is used together with your password to prevent unauthorized access to any information you choose to store on our site. The data you give us about your personal preferences and demographics (ZIP code, occupation, or other data) may be used to help us offer content, advertisements, products and services that are most likely to appeal to you. We do not accept or store registration for anyone under the age of 21 under any circumstances.</p>

<p>Unless you specify that you'd prefer not to hear from us, we might also use the email address you provide at registration to contact you for promotional, administrative, or other reasons. You may have these communications terminated at any time. If you indicate that you are interested in hearing from other companies, we may also share your contact information for that purpose.</p>

<p><b>Tools:</b> Our site allows you to use many helpful tools, such as real estate search tools, and others, without disclosing any personal information. These tools are for your benefit, and the information you submit when you use them (typically impersonal data) is not disclosed to anyone or used for any purpose other than to provide you with the service you are seeking.</p>

<p><b>User-Requested Services:</b> You may choose to request services of a more substantial or personal nature when using our Website. For example, you may apply for a loan or request our help in locating a mortgage broker. The information you provide when seeking these services may be used in the following ways:</p>

<p>For services provided by uscreonline.com Website, the information you submit is used by us to provide the service you have requested. We may also share this information with subcontractors, but only to the extent necessary to fulfill your request. In addition, we may use the contact information and nonfinancial order information you have supplied, such as your email address, as set out in the Registration section above. For other services, we may, with your permission, contact you by phone to request additional information to help you find useful services. You are not required to cooperate with any telephone requests by uscreonline.com. If the service you request requires submission of financial information, such as a social security number for a loan request, rest assured that this financial information is used only for processing your application, and is not retained after completion. We may, however, store your nonfinancial order information for accounting purposes so as to help us understand your preferences better, so we can offer you future services that you may find useful.</p>

<p>From time to time, we may wish to use personal information you provide when requesting a service for purposes beyond those listed above. If this is the case, you will always be notified of the additional use prior to your submitting the personal information, and you'll be given a chance to "opt-out" of that use or to not complete the request for the particular service.</p>

<p><b>User-Initiated Communication:</b> Our Website enables you to send email to us to request information regarding our services. Whenever you choose to initiate this kind of communication with us, you may expect to be contacted in return.</p>

<p><b>Referrals:</b> If you participate in any referral service we may offer, we will use the information you submit to determine which of your participating professionals may be able to serve your needs. We may then forward your name, contact information, and other responses to our sign-up form to the selected professional(s), who may then contact you using that information. Any information that you provide may also be used by us in accordance with the uses set out in the Registration section above.</p>

<p><b>Automatically Gathered Data:</b> The information gathered automatically by our system-such as your computer's IP address, the kind of browser you are using and a record of your navigation through our site-may be used by uscreonline.com so we can understand how to make our site convenient and useful to our audience. This information will not be shared.</p>

<p><b>Collected Data:</b> We may link information collected from you through various means, including information collected automatically and through the use of cookies and registration information, or other personal information you provide to help us offer content, advertisements, products and services that are most likely to appeal to you. If you have indicated that you want to be contacted by third parties, we may use this information to select which names to provide to a particular third party in order to present you with products and services that are most likely to appeal to you, but we will not disclose this type of information, other than your contact information, to any such third party.</p>

<p><b>What choices do I have regarding the use of my information?</b></p>

<p>Reading this Privacy Statement should help you understand how any information you share with us might be used. If you feel concerned about any of these uses, you might elect not to participate in certain services or features, that we offer. We will never collect personal information about you without your knowledge, so the decision whether or not to share this information is completely up to you.</p>

<p><b>How do I "opt-out"?</b></p>

<p>You also have the ability to terminate email correspondence from us at any time. You will either be given the chance to opt-out of direct mailings when you disclose your email address to us, or you can simply reply to our email, typing "unsubscribe" in the subject line of email, and we will promptly remove your address from the email service.</p>


<p><b>How can I change my information?</b></p>

<p>If you would like us to edit or delete the personal information you submitted at uscreonline.com during registration or elsewhere as described above, please click on CONTACT US and submit your request.</p>

<p><b>How is my information protected?</b></p>

<p>Whenever personal information about you is stored on our computers, that information is password-protected from unauthorized access or use. In addition, this information is kept only on servers that are located behind a "firewall", which makes their contents inaccessible to outside users. Since your Social Security number and financial information is especially sensitive, we take special care to keep it secure. We will only transmit or ask for this information at your discretion. Finally, your Social Security number and financial information are never stored on our servers. While this means you may have to enter this information more than once, we believe the added security is worth the extra effort. Of course, we appreciate your help in safeguarding the integrity of your own and others' privacy. We hope you will use common sense whenever you disclose personal information over the Internet. Just as importantly, we encourage you to let us know immediately if you suspect that the information you share with us is being used in any way contrary to the Privacy Statement.</p>
<h4>How can I change my information?</h4>
<p>
    <b>What happens with any Documents I may have executed resulting from the services provided by USC?</b>
</p>
<p>“All Registration Agreements, Disclosure Documents, or other contracts that you may have executed on line with USC will be retained in your file and not destroyed until one year after the expiration date of the document itself.  This is a mandatory requirement.  As a Registrant of USC you will be able to view all of your duly executed documents with USC at any time at your [My US CRE Online] page that you access upon logging into the site.”</p>
<br />
<b>Contacting Us:</b>
<br />
<br />
US CRE Online.com LLC
<br />
3870 E. Flamingo Road, Suite A2-148
<br />
Las Vegas, NV 89121
<br />
Corp: (702) 883-1927
<br />
Email: <a href="mailto:info@uscreonline.com">info@uscreonline.com</a>

