@model Inview.Epi.EpiFund.Web.Models.Emails.AutoConfirmationMDAUpdatedEmail
To: @Model.RecipientName
From: USCREonline <uscre@inviewlabs.com>
Subject: Your signed IPA has been updated
Content-type: text/html;charset=utf-8

<html>
<body>
<p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>

<p>Dear @Model.RecipientName,</p>
<p>Congratulations!  Your Internet Portal Agreement ("IPA") and or update for the data file on Asset ID # @Model.AssetDescription.AssetNumber, 
    a commercial investment real estate asset located in @Model.AssetDescription.CityStateFormattedString, has been automatically accepted by US CRE Online.  
    Your table of duly executed and authorized IPA Asset View Inventory at your ["My USC Page"] has been automatically updated to 
    reflect your new CRE Asset ID #.  As defined in your original IPA, all subsequent CRE Asset View authorizations only require a 
    one &#60;click&#62; approval and acceptance of extending your IPA to each new CRE Asset View.  All new IPA Inventory will also be stored for you at 
        all times at your ["My USC Page"] at http://www.uscreonline.com.  Each time you log in you will be taken to your ["My USC Page"].  To view any 
        of your approved and accepted CRE Asset View inventory, simply &#60;click&#62; the Asset ID # at your ["My USC Page"].  A history of all of your USC 
            activity will be prominently displayed therein.</p>
    <p>We hope that you will find the data provided at US CRE Online as a valuable tool for your commercial investment real estate ventures…creating viable, immediately available foundations for transactional opportunities and joint ventures between your debt and equity capital relationships.  </p>
    <p>
You may login in anytime at http://www.uscreonline.com to access all areas of the site now available to you and to view all authorized asset files. You will receive via e mail market status updates on each Asset ID you have executed an IPA on as such information becomes available.  If you have submitted a USC "Advanced CRE Search Criteria Form", USC will e mail matching Asset notifications to you as new available CRE Assets are uploaded online real time going forward.
</p>
    <p>Should you seek any specific CRE Asset Criteria anywhere in the US, please follow these simple instructions to complete your applicable CRE Asset Data Profile to activate the USC automated search engine and communications technology within our Asset and Principal Network: </p>

        <ol>
<li>Go to<a href="http://www.uscreonline.com">http://www.uscreonline.com</a> and log in.</li>
<li>Select the [CRE Asset Search] tab at either the top or left borders of the website.</li>
<li>&#60;Click&#62; the tab at the bottom of the page that reads [Proceed to Advanced CRE Search Criteria Questionnaire].</li>
<li>Fill out the respective data fields in the Questionnaire as accurately as you can and &#60;click&#62; the [Submit] button.</li>
            <li>When your visit at USC is complete, please [Log Out].  This will ensure the site is refreshed at each new session [Log In].</li>
        </ol>
<p>Thank you for being a valued Principal Investor Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>
    <p>
The Professional Staff
US CRE Online, LLC

    </p>
</body>
</html>
