@using Postal
@model Inview.Epi.EpiFund.Web.Models.Emails.CompanyUserWelcomeEmail
To: @Model.Email
From: USCREonline <info@uscreonline.com>
Subject: Welcome to USCREOnline!
Content-type: text/html;charset=utf-8

<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
<br />

<p>Dear @Model.To,</p>

<p>Congratulations!  You have been registered as a US CRE Online @Model.RegistrationType registrant.</p>
    
<p>To complete the login, enter your email and the temporary password: <b>@Model.TempPassword</b> at the <a href=@Model.URL>Validate page</a> </p>

<p>Once you are validated, you will be redirected to set a new password.</p>

<p>You may login in anytime at <a href="http://www.uscreonline.com">http://www.uscreonline.com</a> to access your authorized pages. </p>


<p>Thank you for being a valued Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>
<p>
The Professional Staff
US CRE Online, LLC</p>
</body>
</html>
