@model Inview.Epi.EpiFund.Web.Models.Emails.ConfirmationSearchCriteriaSubmittedEmail
To: @Model.Email
From: USCREonline <info@uscreonline.com>
Subject: Search Criteria Form Submitted
Content-type: text/html;charset=utf-8

<html>
<body>
<p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>


<p>Dear @Model.To,</p>

<p>Thank you for completing and submitting your CRE Search Criteria Data Form with US CRE Online.</p>

<p>Your criteria has been automatically and securely delivered to the current active global db of Commercial Investment Participants through USC technology now exceeding @ViewBag.CurrentActiveAssetCount.  The USC db includes both debt and equity participants, and based on registration data, your data will be prioritized to USC Registrant&#39;s who specifically control assets that are likely to meet your specific criteria.</p>

<p>Critical to the protocol in identifying matching assets for a principal will be for the principal to properly demonstrate its qualifications to engage in acquisition negotiations on any such asset.  In as much, please note that you will be required to provide Proof of Funds and a Corporate Operating Resume to a qualifying assets vested principal and or its representative upon your expression of interest on any such qualifying CRE asset.  In as much, we urge you to ensure that you have your equity and or debt funding POF secured prior to engaging in formal acquisition discussion on any qualifying asset.  </p>

<p>Should the US CRE Online community identify one or more matching assets to your Search Criteria, said matching asset... if not already posted at the site... will be posted and published for qualified viewing by you.  You will receive and automated e mail upon such posting notifying you that matching inventory to your specific Search Criteria is available for your review.  Upon logging in to www.uscreonline.com you will be required to e sign our standard &#91;Internet Portal Margin Disclosure Agreement&#93; for each such matching asset to have full access to the data files for each such asset.  Your 1st Asset View &#91;IP IPA&#93; is e-signed through Doc-U-Sign, and only takes a few minutes; your subsequent Asset View &#91;IP MDA&#39;s&#93; will only require 5 seconds to complete!  A complete inventory of your executed MDA&#39;s is available for your review at all times at your &#91;&#34;My USC Page&#34;&#93;.</p>

<p>Thank you again for submitting your CRE Search Criteria Data Form. We thank you for being a valued Principal Investor Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>

<p>The Professional Staff</p>
<p>US CRE Online, LLC</p>

</body>
</html>

