@model Inview.Epi.EpiFund.Web.Models.Emails.ICAdminWelcome
To: @Model.Email
From: USCREonline <info@uscreonline.com>
Subject: Welcome to USCREonline!
Content-type: text/html;charset=utf-8
<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
    <p>Dear @Model.To,</p>
<p>
    Thank you for your completed Registration to become an approved <b>Independent Contractor New Asset Administrator (&#34;ICA&#34;)</b> for US CRE Online.  You have completed step one of the application process.  Please note that your application is pending approval from USC Corporate.  You may receive e mails and or direct communications from USC Corporate for additional information requests to assist USC in its processing.  Your execution of the Independent Contractor Agreement is only part of the application process, and does not confirm your approval by USC Corporate. 
</p>
    <p>Upon completion of its due diligence, USC Corporate will either approve or reject your application, and you will receive a confirmation e mail to that effect promptly.  Please note that USC receives constant interest in its employment opportunities for positions that are finite in availability.  Please allow 24-72 hours for USC Corporate to inform you via e mail of its decision on your IC Admin application.</p>
    <p>If you are accepted you will be required to acknowledge the <b><u>USC Non-Compete Non-Disclosure Agreement</u></b>.  You will also be required to make yourself available during normal business hours M-F for scheduled training with <b>USC</b> Corporate.</p>
    <p>Thank you for being a valued ICA Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>

    <p>The Professional Staff</p>
    <p><b>US CRE Online, LLC</b></p>
</body>
</html>
