@model Inview.Epi.EpiFund.Web.Models.Emails.ICAdminChangeStatusEmail
To: @Model.To
From: USCREonline <info@uscreonline.com>
Subject: IC Admin Rejected
Content-type: text/html;charset=utf-8
<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
    <p>Dear @Model.Name,</p>
  
    <p>Thank you once again for your completed Registration to become an approved <b>Independent Contractor New Asset Administrator (&#34;ICA&#34;)</b> for US CRE Online.  At this time your Registration application has been rejected.  The primary reason for its decision on your application is because at this time US CRE Online does not have any positions available for IC Admin.  If there were other reasons for its decision you would have been contacted by USC Corporate Admin for further discussion. </p>
    <p>USC Corporate will retain your registration application for future consideration and notification should IC Admin opportunities expand at said time.  You are always welcome to extend availability inquiry through our <a href="http://uscreonline.com/Home/ContactUs">Contact Us</a> Us page at <a href="http://www.uscreonline.com">www.uscreonline.com</a>.  </p>
    <p>Thank you for being a valued Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>

    <p>The Professional Staff</p>
    <p><b>US CRE Online, LLC</b></p>
</body>
</html>
