@model Inview.Epi.EpiFund.Web.Models.Emails.ProfileUpdatedEmail
To: @Model.Email
From: USCREonline <info@uscreonline.com>
Subject: Your profile has been changed
Content-type: text/html;charset=utf-8

<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
    <p>Dear @Model.NameOfRegistrant:</p>

<p>As an ongoing service to you, a valued Registered Member of US CRE Online, please accept our notification that your Registration Profile has recently been updated and or edited by Corp Admin for USC.  We encourage you upon your next visit to www.USCREonline.com to preview your Registration Profile and confirm that the information in your file is correct.  You may further edit your file at any time.  Thank you for being a valued Registration of US CRE Online.com.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>

<p>The Professional Staff</p>
<p>US CRE Online, LLC</p>
</body>
</html>
