@using Postal
@model Inview.Epi.EpiFund.Web.Models.Emails.ResetPasswordEmail

To: @Model.To
From: USCREonline <info@uscreonline.com>
Subject: USCREonline Password Reset
Content-type: text/html;charset=utf-8
<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
    <br />
    <p>Your password has been reset. Your new password is: @Model.Password</p>

    <p>You can log in here: <a href="http://www.uscreonline.com">http://www.uscreonline.com/</a></p>
</body>
</html>
