@using Postal
@model Inview.Epi.EpiFund.Web.Models.Emails.UserWelcomeEmail
To: @Model.To
From: USCREonline <info@uscreonline.com>
Subject: Welcome to USCREOnline!
Content-type: text/html;charset=utf-8

<html>
<body>
    <p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
<br />

<p>Dear @Model.To,</p>

<p>Congratulations!  You have been registered as a US CRE Online @Model.RegistrationType registrant.</p>
    
<p>Login using your email address and password. Your password is @Model.Password. </p>

<p>In order to complete your registration:</p>

<ul>
    <li>Acknowledge the Terms of Use button</li>
    <li>Acknowledge the NCND button</li>
    <li>Change your password through your My USC Page</li>
</ul>

<p>Thank you for being a valued Registrant of United States Commercial Real Estate Online, LLC.  It is our honor and privilege to provide the defined CRE data services to the investment community.</p>
<p>
The Professional Staff
US CRE Online, LLC</p>
</body>
</html>
