<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--PRODUCTION-->
    <add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFund;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />
    <!--DEVELOPMENT-->
    <!--<add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFundDev;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--CURRENTLY RESIDING ON N7APP01-->
    <add key="TimerInterval" value="10000" />
    <add key="docusignEmail" value="elizabeth.trambulo@inviewlabs.com" />
    <add key="docusignPassword" value="7163bareef" />
    <add key="integratorKey" value="INVI-c3501a77-8f68-489b-8a9c-557a3a3ef5b8" />
    <!--PRODUCTION-->
    <add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFund\Documents\" />
    <add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFund\" />
    <add key="EmailTemplatePath" value="\\n7app01\c$\Data\EPIFund\Email Templates\" />
    <!--DEVELOPMENT-->
    <!--<add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFundDev\Documents\" />-->
    <!--<add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFundDev\" />
    <add key="EmailTemplatePath" value="\\n7app01\c$\Data\EPIFundDev\Email Templates\" />-->
    <add key="SenderEmailAddress" value="uscre@inviewlabs.com" />
    <add key="SMTPHost" value="ivl-exch1.inviewlabs.loc" />
    <add key="SMTPUserName" value="uscre@inviewlabs.loc" />
    <add key="SMTPPassword" value="XWlwQcK1x6su7uPWuQGT" />
    <add key="ABCPdfLicense" value="719-253-057-515-4746-613" />
    <!--Mandrill-->
    <add key="MandrillApiKey" value="i6ayTcycFHnId1Jvp7E6UA" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="USCREonline &lt;uscre@inviewlabs.com&gt;">
        <network enableSsl="false" host="ivl-exch1.inviewlabs.loc" port="25" userName="uscre@inviewlabs.loc" password="XWlwQcK1x6su7uPWuQGT" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
