<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EPIRepository" connectionString="Data Source=ivl-sql01;Initial Catalog=EPIFund;User Id=EPIFundUser;Password=xw5E9r2n;persist security info=False;packet size=4096" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="docusignEmail" value="elizabeth.trambulo@inviewlabs.com" xdt:Locator="Match(key)" />
    <add key="docusignPassword" value="7163bareef" xdt:Locator="Match(key)" />
    <add key="integratorKey" value="INVI-c3501a77-8f68-489b-8a9c-557a3a3ef5b8" xdt:Locator="Match(key)" />

    <add key="pdfDirectory" value="\\nap7-fs1\Application Data\EpiFund\Documents\" xdt:Locator="Match(key)" />
    <add key="DataRoot" value="\\NAP7-FS1\Application Data\EpiFund\" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="\\n7app01\c$\Data\EPIFund\Email Templates\" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>