
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');

body {
    min-height: 100%;
}

.assetsearchwrap {
    width: calc(100% + 40px);
    min-height: 1530px;
    min-height: 100vh;
    margin-left: -20px;
    margin-top: -30px;
    background-color: #ffffff;
    font-family: "Roboto";
    color: #9f9f9f;
    position: relative;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
}

.assetsearchwrap div {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.assetsearchwrap [contenteditable]:focus {
    outline: 0 solid transparent;
}

.assetsearchwrap input {
    border-radius: 0;
    border: 0;
    font-weight: 100;
    width: 100%;
    padding-left: 20px;
}

.assetsearchwrap input:focus {
    outline: none;
    background-color: #f7fdff;
}

.assetsearchwrap input::placeholder {
    font-style: italic;
    color: #cbcbcb;
}

.AssetSearch_TopBar {
    width: 100%;
    height: 55px;
    display: flex;
}

.AssetSearch_Searchbar {
    height: 55px;
    line-height: 100%;
    font-size: 18px;
}

.AssetSearch_Searchbar_wrap {
    display: flex;
    padding-top: 15px;
    width: 100%;
}

.AssetSearch_Searchbar_wrap img {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    margin-top: 5px;
}

.AssetSearch_Xfont {
    font-size: 34px !important;
}

.AssetSearch_Searchbar_button {
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.AssetSearch_GreyGradient {
    background: #c6c6c6;
    background: -moz-linear-gradient(-45deg, #c6c6c6 0%, #dfdfdf 100%);
    background: -webkit-linear-gradient(-45deg, #c6c6c6 0%,#dfdfdf 100%);
    background: linear-gradient(135deg, #c6c6c6 0%,#dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#dfdfdf',GradientType=1 );
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.7);
}

.AssetSearch_OrangeGradient {
    background: #e96b1c;
    background: -moz-linear-gradient(-45deg, #e96b1c 0%, #d79135 100%);
    background: -webkit-linear-gradient(-45deg, #e96b1c 0%,#d79135 100%);
    background: linear-gradient(135deg, #e96b1c 0%,#d79135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96b1c', endColorstr='#d79135',GradientType=1 );
    text-shadow: 0 0 6px rgba(150, 150, 150, 1);
    font-weight: 500;
}

.AssetSearch_BlueGradient {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    text-shadow: 0 0 6px rgba(150, 150, 150, 1);
    font-weight: 500;
}

.AssetSearch_BasicSearch_wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

.AssetSearch_Filter_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.AssetSearch_BasicSearchInput_wrap {
    height: 50px;
    margin-left: 8px;
    margin-top: 20px;
}

.AssetSearch_BasicSearchInput_wrap:focus {
    outline: none;
}

.AssetSearch_BasicSearchInput_wrap input {
    border-radius: 0;
    border-bottom: 2px solid #d7d7d7;
    font-weight: 300;
    padding-left: 0;
    font-size: 18px;
}

.AssetSearch_AdvancedSearchInput_wrap {
    height: 50px;
    margin-left: 8px;
    margin-top: 20px;
}

.AssetSearch_AdvancedSearchInput_wrap:focus {
    outline: none;
}

.AssetSearch_AdvancedSearchInput_wrap input {
    border-radius: 0;
    border-bottom: 2px solid #d7d7d7;
    font-weight: 300;
    padding-left: 0;
    font-size: 18px;
}


.AssetSearch_DropDown_main {
    border-bottom: 2px solid #d7d7d7;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 34px;
}

.AssetSearch_DropModal_wrap {
    -webkit-box-shadow: 0 0 5px -1px rgba(125,125,125,1);
    -moz-box-shadow: 0 0 5px -1px rgba(125,125,125,1);
    box-shadow: 0 0 5px -1px rgba(125,125,125,1);
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    position: relative;
}

.AssetSearch_Option_wrap {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.AssetSearch_Option_wrap:hover {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    text-shadow: 0 0 6px rgba(150, 150, 150, 1);
    color: #ffffff;
}

.AssetSearch_Option_selected {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    text-shadow: 0 0 6px rgba(150, 150, 150, 1);
    color: #ffffff;
}

.AssetSearch_BasicSearch_Savebutton {
    margin-top: 18px;
    margin-left: 10px;
}

.AssetSearch_MapWrap {
    margin-top: 10px;
}

.AssetSearch_StatusBoxes_wrap {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.AssetSearch_StatusBox {
    padding: 20px;
}

.AssetSearch_StatusBox h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.AssetSearch_StatusBox h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.AssetSearch_Searchbar_addressmodal {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(168,168,168,1);
    -moz-box-shadow: 0 1px 5px 0 rgba(168,168,168,1);
    box-shadow: 0 1px 5px 0 rgba(168,168,168,1);
    position: absolute;
    padding: 20px;
    margin-top: 40px;
    margin-left: 60px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.AssetSearch_Searchbar_addressmodal:hover {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    position: absolute;
    padding: 20px;
    margin-top: 40px;
    margin-left: 60px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.7);
}

.AssetSearch_Displayflex {
    display: flex;
    position: relative;
}

.AssetSearch_Linewrap {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.AssetSearch_Linewrap div {
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    color: #6d6d6d;
    display: flex;
}

.AssetSearch_Linewrap div span {
    align-self: flex-end;
}

.AssetSearch_Lineitemwrap {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.AssetSearch_Lineitemwrap div {
    pointer-events: none;
}

.AssetSearch_Lineitemwrap_ghost {
    width: 100%;
    height: 60px;
    position: absolute;
    cursor: pointer;
}

.AssetSearch_Lineitemwrap:hover {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.7);
}

.AssetSearch_Lineitemwrap_active {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.7);
}

.AssetSearch_Lineitemwrap div {
    display: table-cell;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 14px !important;
}

.AssetSearch_Lineitemwrap div p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Assetsearch_fontbold {
    font-weight: bold;
}

.AssetSearch_line_name {
    width: 86px;
    flex-grow: 1;
}

.AssetSearch_line_citystate {
    width: 95px;
}

.AssetSearch_line_type {
    width: 54px;
}

.AssetSearch_line_size {
    width: 51px;
}

.AssetSearch_line_pricingindic {
    width: 78px;
}

.AssetSearch_line_cr {
    width: 38px;
}

.AssetSearch_line_occyr {
    width: 42px;
}

.AssetSearch_line_price {
    width: 78px;
}

.AssetSearch_line_price_type {
    width: 45px;
}

.AssetSearch_statussymbol {
    width: 10px;
    font-weight: bold;
}

.AdvancedSearch_SavedSearchesBar {
    background: #1cd0e9;
    background: -moz-linear-gradient(-45deg, #1cd0e9 0%, #35a6d7 100%);
    background: -webkit-linear-gradient(-45deg, #1cd0e9 0%,#35a6d7 100%);
    background: linear-gradient(135deg, #1cd0e9 0%,#35a6d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
    width: 241px;
    flex: 1;
}

.AdvancedSearch_SavedSearchesBar h1 {
    width: 100%;
    height: 58px;
    line-height: 58px;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.7);
    font-size: 22px;
    margin: 0;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.AdvancedSearch_Main {
    height: 100%;
    width: calc(100% - 243px);
    margin-left: 2px;
}

.AdvancedSearch_Main_Topbar {
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.AdvancedSearch_Topbar_button {
    color: #9f9f9f;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 63px;
    line-height: 63px;
    cursor: pointer;
    margin-right: 2px;
}

.AdvancedSearch_Topbar_button:hover {
    color: #ffffff;
    background: #e96b1c;
    background: -moz-linear-gradient(-45deg, #e96b1c 0%, #d79135 100%);
    background: -webkit-linear-gradient(-45deg, #e96b1c 0%,#d79135 100%);
    background: linear-gradient(135deg, #e96b1c 0%,#d79135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96b1c', endColorstr='#d79135',GradientType=1 );
}

.AdvancedSearch_Topbar_button_active {
    color: #ffffff;
    background: #e96b1c;
    background: -moz-linear-gradient(-45deg, #e96b1c 0%, #d79135 100%);
    background: -webkit-linear-gradient(-45deg, #e96b1c 0%,#d79135 100%);
    background: linear-gradient(135deg, #e96b1c 0%,#d79135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96b1c', endColorstr='#d79135',GradientType=1 );
}

.AdvancedSearch_xIconButton {
    height: 63px;
    width: 63px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.AdvancedSearch_xIconButton img {
    margin-top: 20px;
}

.AdvancedSearch_AdvancedSearch_Contentwrap {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.AssetSearch_actbutton {
    width: 47px;
    height: 50px;
    margin-top: 5px;
    margin-left: 7px;
    color: #ffffff;
    position: relative;
    cursor: pointer;
}

.AssetSearch_actbutton img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.AssetSearch_NewLocationBox {
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    color: #c6c6c6;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 5px;
}

.AssetSearch_SavedSearchItemWrap {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    text-shadow: 0 0 6px rgba(150, 150, 150, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.AssetSearch_SavedSearchItemWrap:hover {
    background: #8ff2ff;
    background: -moz-linear-gradient(-45deg, #8ef2ff 0%, transparent 100%);
    background: -webkit-linear-gradient(-45deg, #91f1fd 0%,transparent 100%);
    background: linear-gradient(135deg, #a9f5ff 0%,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd0e9', endColorstr='#35a6d7',GradientType=1 );
}

.AssetSearch_SavedSearchItemWrap h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
}

.AssetSearch_SavedSearchItemWrap h6 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
}

.AssetSearch_SavedSearchItemWrap img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: -20px;
}

.AdvancedSearch_SaveSearchWrap {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.AdvancedSearch_SaveSearchWrap input {
    height: 50px;
    background-color: #ffffff;
}

.AdvancedSearch_SaveSearchSaveButton {
    width: 60px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.AdvancedSearch_SaveSearchSaveButton img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.AdvancedSearch_SaveSearchSaveButton:hover {
    background: #ff8e48;
    background: -moz-linear-gradient(-45deg, #ff8e48 0%, #d79135 100%);
    background: -webkit-linear-gradient(-45deg, #ff8e48 0%,#d79135 100%);
    background: linear-gradient(135deg, #ff8e48 0%,#d79135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e48', endColorstr='#d79135',GradientType=1 );
}

.AssetSearch_BigImportButton {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    cursor: pointer;
}

.AssetSearch_BigImportButton:hover {
    background: #ff8e48;
    background: -moz-linear-gradient(-45deg, #ff8e48 0%, #d79135 100%);
    background: -webkit-linear-gradient(-45deg, #ff8e48 0%,#d79135 100%);
    background: linear-gradient(135deg, #ff8e48 0%,#d79135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e48', endColorstr='#d79135',GradientType=1 );
    color: #ffffff;
}

.AssetSearch_DividerLine {
    height: 2px;
    background-color: #35a6d7;
    width: calc(100% - 20px);
    margin-right: 4px;
    margin-left: 15px;
    margin-top: 13px;
}

.AssetSearch_FlexTitle {
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
    color: #35a6d7;
    white-space: nowrap;
}

.AssetSearch2_Tile_Wrap {
    width: 397px;
    height: 357px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 5px -2px rgba(190,190,190,1);
    -moz-box-shadow: 0 1px 5px -2px rgba(190,190,190,1);
    box-shadow: 0 1px 5px -2px rgba(190,190,190,1);
    margin-top: 18px;
    cursor: pointer;
}

.AssetSearch2_Tile_Wrap:hover {
    -webkit-box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
    -moz-box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
    box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
}

.AssetSearch2_Tile_Header {
    width: 100%;
    height: 7px;
}

.AssetSearch2_Tile_Top {
    display: flex;
    justify-content: space-between;
    height: 81px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.AssetSearch2_Tile_Top h1 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #35a6d7;
}

.AssetSearch2_Tile_Top h2 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #35a6d7;
}

.AssetSearch2_Tile_Top h4 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #363636;
    text-transform: none;
}

.AssetSearch2_Tile_picturewrap {
    width: 100%;
    height: 133px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #35a6d7;
}

.AssetSearch2_Tile_Bot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.AssetSearch2_Tile_Bot div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.AssetSearch2_Tile_Bot div div {
    padding-left: 25px;
    font-size: 17.5px;
    font-family: 'Quicksand', sans-serif;
    color: #898989;
    padding-top: 15px;
    display: block;
}

.AssetSearch2_BackForwardButtonWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.AssetSearch2_BackForwardButton {
    width: auto;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    cursor: pointer;
}

.AssetSearch2_BackForwardButton:hover {
    -webkit-box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
    -moz-box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
    box-shadow: 0 1px 5px 0 rgba(190,190,190,1);
}

.AssetSearch2_Placeholder {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #c6c6c6;
    font-style: italic;
    padding-left: 40px;
    padding-right: 40px;
}

.AssetSearch2_LineItemHoverWrap {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: space-between;
    padding-top: 0;
}

.AssetSearch2_LineItemHoverWrap div {
    padding-top: 0;
}

.AssetSearch2_LineItemHoverWrap div img {
    margin-top: -15px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    pointer-events: visiblePainted !important;
}

.AssetSearch2_LineItemHoverWrap_icons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}

/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.superfast {
    animation-duration: .2s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
